@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use'../abstracts/colors' as *;
@use "sass:color";


// .container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: red;
// }

.header {
    margin-bottom: 30px;
    background-color: #fbf8fe;
    padding: 10px;


    .search-container {
        position: relative;
        margin-bottom: 30px;

        margin-top: -40px;
    }

    .search-input {
        width: 100%;
        max-width: 400px;
        padding: 10px 15px 10px 40px;
        border: none;
        border-radius: 10px;
        background: $color-gray;
    }

    .search-icon {
        position: absolute; //ask
        left: 12px;
        top: 8px;
        color: $text-muted; // ask
    }

    //good morning, alex
    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 20px 0 5px;
        color: $text-main;
    }

    p {
        color: $text-muted;
        font-size: 0.95rem;
        margin-bottom: 25px;
    }

    .search-bar {
        @include card-style;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        padding: 5px 5px;
        min-height: 20px;
    


        input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 1.125rem;
            line-height: 1.75rem;
            height: 32px;
            // margin-top: -20px;


            &::placeholder {
                color: lighten($text-muted, 20%);
            }
        }

        .list-icon {
            color: #545C8C;
            border: transparent;
            padding: 5px;
            background-color: $color-gray;
            border-radius: $border-radius-sm;
            font-size: 15px;
            
        }


        .button {
            display: flex;
            align-items: center;
            gap: 8px;
            background: none;
            border: none;
            color: $text-muted;
            font-size: 0.85rem;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: $border-radius-sm;
            transition: $transition;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }

            svg,
            div {
                display: flex;
                align-items: center;
            }

            &.today {
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    background-color: #eee;
                    height: 100%;
                    left: calc(100% + 5px );

                    // border-right: 1px solid;
                }
            }
        }


        button.Add-Task {
            padding: 10px 20px;
            border: none;
            border-radius: $border-radius-sm;
            cursor: pointer;
            background: $purple;
            color: white;
            font-weight: 600;
            transition: 0.2s;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}