@use '../abstracts/mixins' as *;
<<<<<<< HEAD
@use '../abstracts/variables'  as *;

.side-bar{
    position: relative;
    // left: 0;
    // top: 0;
    // bottom: 0;
    width: 300px;
    background-color:  rgb(241 240 247);
    // height: 100%;
    
=======
@use './abstracts/variables'  as *;

.side-bar{
    position: relative;
    left: 0;
    top: 0;
    width: 300px;
    background-color:  rgb(241 240 247);
    height: 100vh;
>>>>>>> 2cc7f5eb50658657783a7a1da25e5f80167f0a0c

    .side-head{
        margin-bottom: 30px;
        .logo{
            i{
                color: white;
                background-color: rgb(84 92 140);
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h3{
<<<<<<< HEAD
                font-size: 18px;
                margin-bottom: 10px;
=======
                font-size: 20px;
>>>>>>> 2cc7f5eb50658657783a7a1da25e5f80167f0a0c
            }
            p{
                margin-top: -10px;
            }
        }
    }

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    li{
        padding: 10px;
        border-radius: 7px;
        
        margin: 5px 20px;
        transition: 0.3s;
        &:hover{
            background-color: rgb(225 225 236);
            a{
                color: rgb(84 92 140);
                span{
                    color: rgb(84 92 140);
                    @include break(mobile){
    display: none;
}

                }
                i{
                    color: rgb(84 92 140);
                    
                }
            }
        }
        a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            i{
                margin-right: 10px;
                font-size: 20px;
                color: rgb(94, 94, 94);
            }
            span{
                font-size: 16px;
                color: rgb(94, 94, 94);
            }
        }
    }
}

.side-bottom{
    padding: 10px;
        border-radius: 7px;
        
        margin: 5px 20px;
        background-color: rgb(84 92 140);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        width: calc(100% - 50px);
        cursor: pointer;
        span{
            font-size: 16px;
        }
        i{
            margin-right: 10px;
                font-size: 20px;
        }

}

@include break(mobile){
    width: fit-content;
}

}