.column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #fbf8fe;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(49, 50, 59, var(--tw-text-opacity, 1));
}

.badge-high {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(110, 5, 35, var(--tw-text-opacity, 1));
  background-color: rgb(249, 115, 134, var(--tw-bg-opacity, 1));
  border-radius: 20px;
  padding: 5px;
  letter-spacing: 0.5px;
}

.task-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  padding: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
.task-card:hover {
  border-color: rgb(84, 92, 140, var(--tw-bg-opacity, 1));
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border-color: transparent;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.task-card input[type=checkbox] {
  margin-top: 1px;
  accent-color: rgb(84, 92, 140, var(--tw-bg-opacity, 1));
  height: 12px;
}
.task-card .task-content h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1f2937;
  font-weight: 700;
  font-size: 12px;
  margin-top: -0.5px;
}
.task-card .task-content p {
  font-size: 0.85rem;
  color: #7c829c;
  margin-bottom: 12px;
}
.task-card .clock-badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background-color: #f0f2f9;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.95rem;
  color: rgb(84, 92, 140, var(--tw-bg-opacity, 1));
  font-weight: bold;
}
.task-card .assets {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f2f9;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(84, 92, 140, var(--tw-bg-opacity, 1));
  gap: 5px;
}

.momentum-card {
  background-color: #e2e4f0;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  color: #36357e;
}
.momentum-card h3 {
  font-size: 1rem;
  margin-bottom: 8px;
}
.momentum-card p {
  font-size: 0.85rem;
  max-width: 80%;
  line-height: 1.5;
}
.momentum-card .TrendArrow-icon {
  position: absolute;
  right: 1px;
  bottom: 1px;
  font-size: 7rem;
  opacity: 0.2;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  color: #37367D;
}