$purple: rgb(84 92 140 / var(--tw-bg-opacity, 1));
$color-bg: #fafafa;
$color-dark:  #1f2937;
$color-light: rgb(241 240 247 / var(--tw-bg-opacity, 1));
$color-gray: rgb(233 231 241 / var(--tw-bg-opacity, 1));
$text-muted: #7c829c;
$white: #ffffff;
$text-main:rgb(49 50 59 / var(--tw-text-opacity, 1));